.title {
  color: #39a2db;
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
}

.sdtitle {
  color: #e8f0f2;
  margin-bottom: 5px;
}

.fttext {
  color: #39a2db;
  font-family: "Times New Roman", Times, serif;
}

.designlink{
    color:#e8f0f2;
}