.container{
    display:grid;
    grid-template-columns: 16vw 27vw 27vw 27vw;
    grid-template-rows: 30vh 60vh 10vh;
    grid-template-areas:
    "hd hd hd hd"
    "sd post post post"
    "ft ft ft ft";
    background-color: #053742;

}

.header{
    display:flex;
    margin: 20px;
    grid-area: hd;
    color: #39A2DB;
    font-size:100px ;
    align-items:flex-end;
}

.footer{
    margin: 20px;
    grid-area: ft;
    color:#6dadcf;
    font-size:20px
}

.sidebar{
    display:flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    grid-area: sd;
    color:#e8f0f2;
    gap: 15px;
}

.postcards{
    grid-area: post;
    display:flex;
    gap: 20px;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.post{
    background-color: #a2dbfa;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    width: 33.3%;
}

#post1{
    flex-grow: 1;
}

#post2{
    flex-grow: 1;
}

#post3{
    flex-grow: 1;
}

